/* ========== ROOT ========== */
:root {
  --font: "Poppins", sans-serif;

  /* Colors */
  --color-root: #fff;
  --color-white: #fff;
  --color-black: #000;

  --color-brand-primary: #f2b705;
  --color-brand-secondary: #f6cf6a;
  --color-brand-hover: #e0a800;

  --color-text-main: #1f1f1f;
  --color-text-secondary: #5f5f5f;
  --color-text-hover: #484848;
  --color-text-negative: #f5f5f5;
  --color-text-black: #1f1f1f;
  --color-text-white: #f5f5f5;

  --color-border-soft: #e6e2da;

  --color-bg-main: #fff8ee;
  --color-bg-secondary: #f4f1ec;
  --color-bg-active: #e5e5e5;

  --color-border-primary: #999999;
  --color-border-secondary: #dddddd;

  /* Font size */
  --fs-xt: 10px;
  --fs-t: 12px;
  --fs-s: 0.875rem;
  --fs-n: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;
  --fs-hero: 4.5rem;

  /* Font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --italic-font: italic;

  /* Max-width */
  --max-width: 1280px;
}

.dark {
  --color-root: #000;
  --color-white: #fff;
  --color-white: #000;

  --color-brand-primary: #f2b84b;
  --color-brand-secondary: #d9a441;
  --color-brand-hover: #c9962d;

  --color-text-main: #f5f5f5;
  --color-text-secondary: #b5b5b5;
  --color-text-hover: #cfcfcf;
  --color-text-negative: #1f1f1f;
  --color-text-black: #1f1f1f;
  --color-text-white: #f5f5f5;

  --color-border-soft: #333333;

  --color-bg-secondary: #262626;
  --color-bg-main: #1b1b1b;
  --color-bg-active: #323333;

  --color-border-primary: #444444;
  --color-border-secondary: #333333;
}

/* ========== RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  font-family: var(--font);
  scroll-behavior: smooth;
  scrollbar-width: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--color-bg-main);
  line-height: 1.2;
  transition: 0.3s ease;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  text-wrap: pretty;
  line-height: 1.5;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(ul, ol) {
  list-style: none;
}

img,
a {
  -webkit-user-drag: none;
}

button {
  border: none;
  cursor: pointer;
  font-size: var(--fs-n);
  font-weight: var(--fw-500);
  font-family: var(--font);
}

h1 {
  color: var(--color-text-main);
  font-size: var(--fs-l);
  font-weight: var(--fw-600);
}

h2 {
  color: var(--color-text-main);
  font-size: var(--fs-n);
  font-weight: var(--fw-600);
}

* :where(p, span, a, li) {
  color: var(--color-text-main);
  font-size: var(--fs-n);
  font-weight: var(--fw-400);
}

/* ========== REUSABLES ========== */
.section-title {
  display: block;
  margin: 1rem 0 2rem;
}

.section-title h1 {
  text-align: center;
  font-size: clamp(var(--fs-xl), 3.5vw, var(--fs-xxl));
  font-weight: var(--fw-600);
  color: var(--color-text-main);
}

.section-title h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: clamp(var(--fs-n), 2vw, var(--fs-m));
  font-weight: var(--fw-600);
  color: var(--color-brand-primary);
}
/* ========== MAIN ========== */
main {
  flex: 1;
  overflow: hidden;
  /* padding: 0 1rem; */
}

/* ========== NAVBAR ========== */
header {
  position: sticky;
  top: 0;
  background: var(--color-bg-secondary);
  z-index: 995;
  border-bottom: 1px solid var(--color-border-primary);
  /* box-shadow: 0 2px 10px var(--border-color); */
  transition: 0.3s ease;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 2rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

.navbar .logo__icon {
  color: var(--color-brand-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-600);
}

.navbar :where(.navbar__links, .navbar__tools) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__links {
  width: 100%;
  max-width: 500px;
}

.navbar__links .links__separator {
  display: none;
  width: 100%;
  color: var(--color-text-main);
  opacity: 0.5;
}

.navbar__links .link {
  flex: 1;
  text-align: center;
}

.navbar__links .link a {
  position: relative;
  color: var(--color-text-hover);
  transition: 0.3s ease;

  &:hover {
    color: var(--color-text-main);
  }

  &:hover::after {
    width: 100%;
  }
}

.navbar__links .link a::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--color-brand-primary);
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  border-radius: 4px;
  transition: 0.3s ease;
}

.navbar__links .link.active a {
  color: var(--color-text-main);
}

.navbar__links .link.active a::after {
  width: 100%;
}

.navbar .navbar__togle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  gap: 5px;
  cursor: pointer;

  &:hover .toggle-bar {
    background: var(--color-text-main);
  }
}

.navbar .navbar__togle-btn .toggle-bar {
  width: 100%;
  height: 2px;
  background: var(--color-text-secondary);
  border-radius: 2px;
  transition: 0.3s ease;
}

.navbar .navbar__togle-btn[aria-expanded="true"] .toggle-bar:first-child {
  transform: translateY(7px) rotate(-225deg);
}

.navbar .navbar__togle-btn[aria-expanded="true"] .toggle-bar:nth-child(2) {
  opacity: 0;
}

.navbar .navbar__togle-btn[aria-expanded="true"] .toggle-bar:last-child {
  transform: translateY(-7px) rotate(225deg);
}

/* CART ICON - BAGDE */
.navbar__tools {
  z-index: 999;
}

.navbar__tools .cart__icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover i {
    color: var(--color-text-main);
  }
}

.navbar__tools .cart__icon i {
  color: var(--color-text-hover);
  font-size: var(--fs-l);
  transition: 0.3s ease;
}

.navbar__tools .cart__icon .badge {
  position: absolute;
  bottom: -4px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  height: 15px;
  padding: 0 5px;
  line-height: 1.5;

  font-size: var(--fs-xt);
  font-weight: var(--fw-600);
  color: var(--color-text-main);
  border: 1px solid var(--color-bg-secondary);
  background: var(--color-brand-primary);
  border-radius: 12px;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .navbar .navbar__links {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 996;
    width: 100%;
    max-width: 16rem;
    gap: 2rem;
    height: 100vh;
    padding: 5rem 2rem;
    background: var(--color-bg-secondary);
    pointer-events: none;
    border-left: 1px solid var(--color-border-primary);
    transform: translate(100%, 0);
    transition: 0.3s ease;
  }

  .navbar.active .navbar__links {
    transform: translate(0, 0);
    pointer-events: auto;
  }

  .navbar__links .links__separator {
    display: flex;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: var(--color-text-main);
    opacity: 0.5;
  }

  .navbar__links .link {
    width: 100%;
    text-align: start;
    flex: 0;
  }

  .navbar__links .link:last-child {
    text-align: center;
  }

  .navbar__links .link.active a {
    color: var(--color-text-main);
  }

  .navbar__links .link.active a::after {
    width: 100%;
  }
}

/* ========== THEME TOGGLE ========== */
.theme__toggle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  padding: 0.25rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 2rem;
}

.theme__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 27.5%;
  transform: translate(-50%, -50%);
  height: 28px;
  width: 28px;
  background: var(--color-bg-active);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: 0.3s ease;
}

.theme__toggle[data-theme="light"]::after {
  left: 27.5%;
}

.theme__toggle[data-theme="dark"]::after {
  left: 72.5%;
}

.theme__toggle .theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.theme-icon button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-s);
  font-weight: var(--fw-500);
  border-radius: 50%;
  color: var(--color-text-main);
  background-color: transparent;
  height: 28px;
  width: 28px;
  opacity: 0.5;
  z-index: 2;
  cursor: inherit;
  transition: 0.3s ease;
}

.theme-icon button:hover,
.theme-icon button.active {
  opacity: 1;
  color: var(--color-text-main);
}

.theme-icon:hover .theme-tooltip {
  opacity: 1;
}

@media (max-width: 768px) {
  .theme-icon .theme-tooltip {
    display: none;
  }
}

.theme-icon .theme-tooltip {
  position: absolute;
  bottom: -35px;
  text-wrap: nowrap;
  color: var(--color-text-main);
  background: var(--color-root);
  font-size: var(--fs-t);
  font-weight: var(--fw-300);
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--color-border-secondary);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

/* ==================== HERO SECTION ==================== */
.hero__section {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  padding: 2rem 0 6rem;
  margin: 0 auto;
}

.hero__section :where(.hero__content, .hero__img) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.hero__section .hero__content {
  gap: 5rem;
  padding: 0 1rem 0 clamp(2rem, 4vw, 4rem);
}

.hero__content .title__wrapper {
  color: var(--color-text-main);
}

.title__wrapper h1 {
  font-size: clamp(var(--fs-xxl), 6vw, var(--fs-hero));
  font-weight: var(--fw-600);
  text-shadow: 2px 2px 0 var(--color-brand-primary);
  transition: 0.3s ease;
}

.title__wrapper h2 {
  position: relative;
  display: inline-block;
  color: var(--color-brand-primary);
  font-size: clamp(var(--fs-l), 3vw, var(--fs-xl));
  font-weight: var(--fw-400);
  margin-bottom: 1rem;
}

.title__wrapper h2::after {
  position: absolute;
  content: "";
  width: 150%;
  height: 2px;
  background: var(--color-brand-primary);
  top: 50%;
  left: -150%;
  margin-left: -0.5rem;
  transform: translateY(-50%);
}

.title__wrapper p {
  font-size: var(--fs-n);
  color: var(--color-text-secondary);
  transition: 0.3s ease;
}

.hero__content :where(.btn__wrapper, .social__links) {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn__wrapper .menu-btn {
  position: relative;
  font-size: var(--fs-n);
  font-weight: var(--fw-400);
  display: inline-flex;
  align-items: center;
  color: var(--color-text-negative);
  background: var(--color-brand-primary);
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  transition: 0.3s ease;

  &:hover::after {
    transform: translate(6px, 6px);
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn__wrapper .menu-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8px;
  border: 2px solid var(--color-brand-primary);
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

.social__links a {
  position: relative;
  color: var(--color-brand-primary);
  font-size: var(--fs-l);
  display: inline-flex;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-main);
  border: 1px solid var(--color-brand-primary);
  border-radius: 50%;
  transition: 0.3s ease;

  &:hover {
    color: var(--color-text-negative);
    background: var(--color-brand-primary);
  }

  &:active {
    transform: scale(0.9);
  }
}

.hero__section .hero__img {
  position: relative;
  padding: 0 clamp(2rem, 4vw, 4rem) 0 1rem;
}

.hero__section .hero__img img {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
  filter: drop-shadow(10px 5px rgba(0, 0, 0, 0.125));
  z-index: 2;
  transition: 0.9s ease;
}

.hero__section .hero__img img:hover {
  transform: scale(1.025) rotate(8deg);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}

.hero__section .hero__img svg {
  position: absolute;
  pointer-events: none;
  width: 130%;
  height: 130%;
  top: 0;
  right: 0;
  transform: translate(7%, -7%);
  z-index: 1;
  fill: var(--color-brand-primary);
}

@media (max-width: 768px) {
  .hero__section {
    flex-direction: column;
    padding: 1rem 1.5rem 0;
    gap: 2rem;
    overflow: hidden;
  }

  .hero__section :is(.hero__content, .hero__img) {
    padding: 0 0;
    width: 100%;
  }

  .hero__section .hero__content {
    text-align: center;
    gap: 2rem;
  }

  .btn__wrapper .menu-btn::after {
    display: none;
  }

  .title__wrapper h1 {
    margin-bottom: 0.5rem;
  }

  .title__wrapper p {
    padding: 0 1rem;
  }

  .hero__content .btn__wrapper {
    flex-direction: column;
  }

  .hero__section .hero__img {
    flex-basis: 350px;
    justify-content: center;
  }

  .hero__section .hero__img img {
    width: 50%;
    min-width: 250px;
  }

  .hero__section .hero__img svg {
    width: 100%;
    height: 100%;
    transform: translate(0%, 0%);
  }
}

/* =============== SERVICES =============== */
.services__section {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 4rem 2rem 4rem;
}

.services__section .services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  place-items: center;
}

.services__wrapper .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 325px;
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }
}

.service img {
  width: 150px;
  height: auto;
}

.dark .service img {
  filter: drop-shadow(2px 2px 0 rgba(255, 255, 255, 1));
}

.service:nth-child(2) img {
  margin-right: 2rem;
}

.service h1 {
  font-size: var(--fs-l);
}

.service p {
  color: var(--color-text-secondary);
  font-size: var(--fs-n);
}

@media (max-width: 768px) {
  .services__section {
    padding: 4rem 1.5rem 4rem;
  }

  .services__section .services__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .services__wrapper .service {
    max-width: 300px;
  }

  .services__wrapper .service:hover {
    transform: translateY(0);
  }
}

/* ===== GENERAL MEDIA QUERIES ===== */
@media (max-width: 768px) {
  .mobileHidden {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 769px) {
  .deskHidden {
    display: none;
    visibility: hidden;
  }
}
