/* ========== ROOT ========== */
:root {
  --font: "Poppins", sans-serif;

  /* Colors */
  --principal-color: #f2bd12;
  --pr2-color: #fcf1cc;

  --main-color: #fff;
  --secondary-color: #f6f7f6;
  --bg-color: #fffdf7;
  --text-color: #212121;
  --opacity-color: rgba(255, 255, 255, 0.75);
  --text-body-color: #686868;
  --text-hover: #484848;
  --button-color: #f6f6f6;
  --button-hover: #eeeeee;
  --button-border: #e5e5e5;
  --active-color: #e5e5e5;
  --transparent: #ffffff00;

  --border-primary: #999999;
  --border-secondary: #dddddd;

  --input-color: #fff;
  --input-border-color: #cdcccd;
  --input-border-focus: #888888;

  /* Font size */
  --fs-xt: 10px;
  --fs-t: 12px;
  --fs-s: 0.875rem;
  --fs-n: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;

  /* Font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --italic-font: italic;

  /* Max-width */
  --max-width: 1280px;
}

.dark {
  --principal-color: #f2b84b;
  --white-color: #fff;
  --background-color: #202020;

  --main-color: #000;
  --secondary-color: #202120;
  --bg-color: #181818;
  --text-color: #fff;
  --opacity-color: rgba(0, 0, 0, 0.75);
  --text-body-color: #a3a3a3;
  --text-hover: #cfcfcf;
  --border-primary: #444444;
  --border-secondary: #333333;
  --button-color: #222222;
  --button-hover: #2a2a2a;
  --button-border: #333333;
  --active-color: #323333;
  --transparent: #00000000;

  --input-color: #0f0e0e;
  --input-border-color: #333232;
  --input-border-focus: #fff;
}

/* ========== RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font);
  scroll-behavior: smooth;
  scrollbar-width: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  line-height: 1.2;
  transition: 0.3s ease;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  text-wrap: pretty;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(ul, ol) {
  list-style: none;
}

img,
a {
  -webkit-user-drag: none;
}

button {
  border: none;
  cursor: pointer;
  font-size: var(--fs-n);
  font-weight: var(--fw-500);
  font-family: var(--font);
}

h1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-600);
}

h2 {
  font-size: var(--fs-n);
  font-weight: var(--fw-600);
}

* :where(p, span, a, li) {
  font-size: var(--fs-s);
  font-weight: var(--fw-400);
}

/* ========== MAIN ========== */
main {
  flex-grow: 1;
  padding: 0 1rem;
}

/* ========== NAVBAR ========== */
header {
  position: sticky;
  top: 0;
  background: var(--secondary-color);
  z-index: 999;
  border-bottom: 1px solid var(--border-primary);
  /* box-shadow: 0 2px 10px var(--border-color); */
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

.navbar .logo__icon {
  color: var(--principal-color);
  font-size: var(--fs-xl);
  font-weight: var(--fw-600);
}

.navbar :where(.navbar__links, .navbar__tools) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__links {
  width: 100%;
  max-width: 500px;
}

.navbar__links .link {
  flex: 1;
  text-align: center;
}

.navbar__links .link a {
  position: relative;
  color: var(--text-hover);
  transition: 0.3s ease;

  &:hover {
    color: var(--text-color);
  }

  &:hover::after {
    width: 100%;
  }
}

.navbar__links .link a::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--principal-color);
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  border-radius: 4px;
  transition: 0.3s ease;
}

.navbar__togle-btn {
  display: none;
}

/* CART ICON - BAGDE */
.navbar__tools .cart__icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover i {
    color: var(--text-color);
  }
}

.navbar__tools .cart__icon i {
  color: var(--text-hover);
  font-size: var(--fs-l);
  transition: 0.3s ease;
}

.navbar__tools .cart__icon .badge {
  position: absolute;
  bottom: -4px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  height: 15px;
  padding: 0 5px;
  line-height: 1.5;

  font-size: var(--fs-xt);
  font-weight: var(--fw-600);
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  background: var(--principal-color);
  border-radius: 12px;
}

/* ========== THEME TOGGLE ========== */
.theme__toggle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  padding: 0.25rem;
  border: 1px solid var(--border-primary);
  border-radius: 2rem;
}

.theme__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 27.5%;
  transform: translate(-50%, -50%);
  height: 28px;
  width: 28px;
  background: var(--active-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: 0.3s ease;
}

.theme__toggle[data-theme="light"]::after {
  left: 27.5%;
}

.theme__toggle[data-theme="dark"]::after {
  left: 72.5%;
}

.theme__toggle .theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.theme-icon button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-s);
  font-weight: var(--fw-500);
  border-radius: 50%;
  color: var(--text-color);
  background-color: transparent;
  height: 28px;
  width: 28px;
  opacity: 0.5;
  z-index: 2;
  cursor: inherit;
  transition: 0.3s ease;
}

.theme-icon button:hover,
.theme-icon button.active {
  opacity: 1;
  color: var(--text-color);
}

.theme-icon:hover .theme-tooltip {
  opacity: 1;
}

.theme-icon .theme-tooltip {
  position: absolute;
  bottom: -35px;
  text-wrap: nowrap;
  color: var(--white-color);
  background: var(--main-color);
  font-size: var(--fs-t);
  font-weight: var(--fw-300);
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-secondary);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}
