/* ========== ROOT ========== */
:root {
  --font: "Poppins", sans-serif;

  /* Colors */
  --white-color: #fff;
  --secondary-light-color: #f6f7f6;

  /* Font size */
  --fs-t: 0.75rem;
  --fs-s: 0.875rem;
  --fs-n: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;

  /* Font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --italic-font: italic;

  /* Max-width */
  --max-width: 1280px;
}

.dark {
  --main-color: #000;
  --secondary-color: #202120;
  --bg-color: #181818;
}

/* ========== RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font);
  scroll-behavior: smooth;
  scrollbar-width: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
  line-height: 1.2;
  transition: 0.3s ease;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  text-wrap: pretty;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(ul, ol) {
  list-style: none;
}

img,
a {
  -webkit-user-drag: none;
}

button {
  border: none;
  cursor: pointer;
  font-size: var(--fs-n);
  font-weight: var(--fw-500);
  font-family: var(--font);
}

h1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-600);
}

h2 {
  font-size: var(--fs-n);
  font-weight: var(--fw-600);
}

* :where(p, span, a, li) {
  font-size: var(--fs-s);
  font-weight: var(--fw-400);
}

/* ========== MAIN ========== */
main {
  flex-grow: 1;
  padding: 0 1rem;
}
