---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Index <i class="ri-restaurant-2-fill"></i></h1>
	<h2>Holas</h2>
<p>lotre</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut excepturi, voluptatibus ut dicta quam praesentium? Cum quas, inventore porro facilis ipsum eos dolorum maiores nihil omnis unde consequatur enim debitis!</p>
  <ul>
		<li>Hola</li>
		<li>Hola</li>
		<li>Hola</li>
	</ul>
	<button>Hola</button>
</Layout>
