---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="navbar">
  <a href="/" class="logo__icon"><i class="ri-restaurant-2-fill"></i></a>

  <div class="navbar__togle-btn">
    <div class="toggle-bar"></div>
    <div class="toggle-bar"></div>
    <div class="toggle-bar"></div>
  </div>

  <ul class="navbar__links">
    <li class="link"><a href="#home">Inicio</a></li>
    <li class="link"><a href="#menu">Menú</a></li>
    <li class="link"><a href="#about">Acerca</a></li>
    <li class="link"><a href="#location">Ubicación</a></li>
    <li class="link"><a href="#contact">Contacto</a></li>
  </ul>

  <div class="navbar__tools">
    <a href="#" class="cart__icon">
      <i class="ri-shopping-bag-fill"></i>
      <span class="badge">5</span>
    </a>
    <ThemeToggle />
  </div>
</nav>
