<div class="theme__toggle">
  <div class="theme-icon">
    <button data-theme="light"><i class="ri-sun-line"></i></button>
    <span class="theme-tooltip">Tema Claro</span>
  </div>
  <div class="theme-icon">
    <button data-theme="dark"><i class="ri-moon-clear-line"></i></button>
    <span class="theme-tooltip">Tema Oscuro</span>
  </div>
</div>
