---
import Global from "@components/global.astro";
import Navbar from "@components/structure/Navbar.astro";
import Footer from "@components/structure/Footer.astro";

const { title, description = "Cocina económica Las Haciendas" } = Astro.props;
const siteName = "Las Haciendas";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | ${siteName}` : siteName}</title>
    <meta name="description" content={description} />
    <Global />
  </head>

  <body class="">
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />

    <script src="/src/scripts/script.js" type="module" defer></script>
  </body>
</html>
